body{
    background-color: rgb(29, 29, 29);
}
.divhome{
   height: 60px;
   align-items: center;
   border-radius: 20px;
   background-color: rgb(131, 131, 131);
   display: flex;
}
.h2{
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   display: flex;
   margin-left: 25px;
   font-size: 30px;
   color: white;
}
.imglogo{
    margin-bottom: 15px;
    margin-left: 20px;
    width: 45px;
    height: 50px;
}
#navegacao{
    margin-left: 100px;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: white;
}
.navegacao{
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   display: flex;
   margin-left: 25px;
   font-size: 20px;
   color: white;
}
.navegacao:hover{
    padding: 5px;
    transition: 0.4s;
    border-radius: 15px;
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   display: flex;
   margin-left: 25px;
   font-size: 20px;
   background-color: rgb(70, 70, 70);
   color: white; 
}
.cadastro{
    box-shadow: 0  8px 12px rgb(102, 102, 102);
    text-align: center;
    border-radius: 35px;
    background-color: rgb(231, 231, 231);
    height: 500px;
    width: 600px;
    margin: auto;
    transition: 0.4s;
    padding: 5px;
}
.cadastro:hover{
    text-align: center;
    margin: auto;
    padding: 5px;
    transition: 0.4s;
    border-radius: 35px;
    background-color: rgb(231, 231, 231);
    height: 530px;
    width: 630px;
}
.textocadastro{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-top: 40px;
    align-items: center;
}
#Usuário{
    transition: 0.4s;
    border-radius: 15px;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(70, 70, 70);
    width: 220px;
    padding: 13px;
}
#Usuário:hover{
    transition: 0.4s;
    border-radius: 15px;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(70, 70, 70);
    width: 240px;
    padding: 16px;
}
#user{
    color: white;
}
#Senha{
    transition: 0.4s;
    border-radius: 15px;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(70, 70, 70);
    width: 220px;
    padding: 13px;
}
#Senha:hover{
    transition: 0.4s;
    border-radius: 15px;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(70, 70, 70);
    width: 240px;
    padding: 16px;
}
#senha{
    color: white;
}
.button{
    transition: 0.4s;
    padding: 10px;
    border-radius: 15px;
    color: white;
    background-color: rgb(70, 70, 70);
}
.button:hover{
    transition: 0.4s;
    padding: 13px;
    border-radius: 13px;
    color: white;
    background-color: rgb(70, 70, 70);
}
